*{
    border: 1px black;
    padding: 0px;
 }
 #r1{
    position: absolute;
    animation-name: r1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    font-size: 62px;
    font-family: 'Lilita One', cursive;
    text-align: center;
    background-color: #459941;
    text-shadow: 3px 2px #000;
    padding: 0px 50px;
    rotate: -3deg;
    box-shadow: 5px 5px 5px #000;
 }
 

 #r3{
    font-family: 'Lilita One', cursive;
    position: absolute;
    color: #fff;
    animation-name: r3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    font-size: 62px;
    display: inline-block;
    text-align: center;
    background-color: #7FD47F;
    text-shadow: 3px 2px #000;
    padding: 0px 50px;
    rotate: -3deg;
    box-shadow: 5px 5px 5px #000;

 }

 body{
    background-color: antiquewhite;
    animation-name: bd;
    animation-duration: 4s;
 }



 .tx1{
    position: absolute;
    text-align: center;
    animation-duration: 6s;
    animation-name: tx;  
    animation-fill-mode: forwards; 
}
.tx2{
    position: absolute;
    text-align: center;
    animation-duration: 6s;
    animation-name: tx2;
    animation-fill-mode: forwards;
}

.txweb{
    position: absolute;
    left: 38%;
    animation-name: tx1;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

 
.ft {animation-fill-mode: forwards;
    } 
#f1{position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 10%;
    background-color: green;
    top: 200px;
    left: 100%;
    animation-name: f1;
    animation-duration: 4s ;
   
   
}
#f2{position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 10%;
    background-color: green;
    top: 200px;
    left: 0%;
    animation-name: f2;
    animation-duration: 4s ;
    
}
#f3{position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 10%;
    background-color: green;
    top: 280px;
    left: 100%;
    animation-name: f3;
    animation-duration: 4s ;
    
}
#f4{position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 10%;
    background-color: green;
    top: 280px;
    left: 0px;
    animation-name: f4;
    animation-duration: 4s ;
    
}
#f5{position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 10%;
    background-color: green;
    bottom: 6000px;
    left: 100%;
    animation-name: f5;
    animation-duration: 4s ;
    
}
#f6{position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 10%;
    background-color: green;
    bottom: 6000px;
    left: 0px;
    animation-name: f6;
    animation-duration: 4s ;
    
}
#f7{position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 10%;
    background-color: green;
    bottom: 6000px;
    left: 100%;
    animation-name: f7;
    animation-duration: 4s ;
    
}
#f8{position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 10%;
    background-color: green;
    bottom: 6000px;
    left:0%;
    animation-name: f8;
    
    animation-duration: 4s ;
}
#f9{position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 10%;
    background-color: green;
    bottom: 6000px;
    left: 100%;
    animation-name: f9;
   
    animation-duration: 4s ;
    
}
#fbl{ position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: red;
    bottom: 20000px;
    left: 42%;
    animation-name: f10;
    
    animation-duration: 8s ;

}

@keyframes cliq{
    0%{ left: 15%; top: 150px;color: darkgreen;opacity: 0%;}
    25%{left: 15%; top: 150px; color: forestgreen;opacity: 0%;}
    50%{ left: 15%; top: 150px;color: darkolivegreen;opacity: 0%;}
    75%{ left: 15%; top: 150px;color: greenyellow;opacity: 75%;}
    100%{left: 15%; top: 150px; color: green;opacity: 100%;}
}

@keyframes ps{
    0%{ left: 21%; top: 200px;color: greenyellow;opacity: 0%;}
    25%{left: 21%; top: 200px; color: darkgreen;opacity: 0%;}
    50%{left: 21%; top: 200px; color: forestgreen;opacity: 0%;}
    75%{ left: 21%; top: 200px;color: darkolivegreen;opacity: 75%;}
    100%{left: 21%; top: 200px; color: green;opacity: 100%;}

}

@keyframes tx2{
    0%{left: 10%;top:90px;opacity: 0;}
       25%{color: darkgreen;}
       50%{color: forestgreen;}
       75%{color: darkolivegreen;}
       100%{left:38.5%;top:100px; color: black ;opacity: 1;}
}
@keyframes tx {
       0%{left: 10%;top:70px;opacity: 0;}
       25%{color: darkgreen;}
       50%{color: forestgreen;}
       75%{color: darkolivegreen;}
       100%{left:42.5%;top:50px; color: black ;opacity: 1;}
}

@keyframes tx1{
    0%{left: 10%;top:500px;opacity: 0;}
    25%{color: darkred;}
    50%{color: firebrick;}
    75%{color: brown;}
    100%{ left: 38%; top: 600px;color: black; opacity: 1;}
}

@keyframes f1{
    0% {left: 100%; background-color: aquamarine; }
    25%  { left: 47%; top: 500px; background-color:darkblue; }
    50% { left: 15%;top: 100px; background-color:blue; }
    75% { left: 78%; top: 450px; background-color:darkcyan;}
    100% { left: 47%; top: 200px; background-color: green;}
   }  
  @keyframes f2{
      0% {left: 45%; top:2 34px; background-color: darkcyan; }
      25% { left: 52%; top: 500px; background-color: blue;}
      50% { left: 78%; top: 358px; background-color: darkblue;}
      75% {left: 35%; top: 280px; background-color: aquamarine;}
      100% {left:52%; top:200px; background-color: green;}
     }            
    @keyframes f3{
        0%  {left: 10%; top: 800px; background-color: aquamarine; }
        25% {left: 32%; top: 280px; background-color: darkblue; }
        50% {left: 52%; top: 600px; background-color: blue; }
        75% {left: 72%; top: 500px; background-color: darkcyan; }    
        100% {left: 42%; top: 280px; background-color: green;}                    
       }  
      @keyframes f4{
          0% {left: 15%; top: 450px; background-color: darkcyan; }
          25% {left: 47%; top: 280px; background-color: blue;}
          50% {left: 60%; top: 600px; background-color: darkblue;}
          75% {left: 80%; top: 750px; background-color: aquamarine;}
          100% {left: 47%; top: 280px; background-color: green;}
         }            
        @keyframes f5{
            0% {left: 65%; top: 500px; background-color: aquamarine; }
            25% {left:42%; top: 360px; background-color: darkblue;}
            50% {left: 36%; top: 450px; background-color: blue;}
            75% {left: 82%; top: 500px; background-color: darkcyan;}
            100% {left: 42%; top: 360px; background-color: green;}
           }  
            @keyframes f6{
              0% {left: 23%; top: 450px; background-color: darkcyan; }
              25% { left: 47%; top: 360px; background-color: blue; }
              50% {left: 70%; top: 570px; background-color: darkblue;}
              75% {left: 90%; top: 350px; background-color: aquamarine;}
              100% {left: 47%; top: 360px; background-color: green;}
             }   
             @keyframes f7{
                0% {left: 6%; top: 65px; background-color: aquamarine;  }
                25% {left: 80%; top:450px; background-color: darkblue; }
                50% {left: 32%; top: 600px; background-color: blue; }
                75% {left:65%; top: 360px; background-color: darkcyan;}
                100% {left: 52%; top: 360px; background-color:green ;}
               
              }  
              @keyframes f8{
                  0% {left: 10%; top: 150px; background-color: darkcyan; }
                  25% {left: 82%;top: 650px; background-color: blue; }
                  50% {left: 25%; top: 450px; background-color: darkblue; }
                  75% {left: 68%; top: 160px; background-color: aquamarine;}
                  100% {left: 42%; top: 440px; background-color: green;}
                 
                }    
                @keyframes f9{
                    0% {left: 8%; top: 700px; background-color: aquamarine; }
                    25% {left: 85%;top: 100px; background-color: darkblue; }
                    50% {left: 20%; top: 650px; background-color: blue;}
                    75% {left: 78%; top: 800px; background-color:darkcyan;}
                    100% {left: 47%; top: 440px; background-color: green;}
                   
                  }  
                  @keyframes f10 {
                    0% {left: 42%; top: 800px; background-color: deeppink;}
                    25% {left: 42%; top: 310px; background-color: darkmagenta;}
                    50% {left: 42%; top: 710px; background-color: fuchsia;}
                    75% {left: 42%; top: 150px; background-color:mediumvioletred ;}
                    100% {left:42% ; top: 200px; background-color: red; }
                  }
@keyframes r1 {
    0%{left: 0%; top: 100px;color: darkgreen;opacity: 0%;}
    25%{left: 0%; top: 100px;color: forestgreen;opacity: 0%;}
    50%{left: 0%; top: 100px; color: darkolivegreen;opacity: 0%;}
    75%{ left: 0%; top: 100px;color: greenyellow;opacity: 75%;}
    100%{left: 5%; top: 100px; color: #fff;opacity: 100%;}
    
}  

                     

@keyframes r3 {
    0%{left: 100%; top: 165px;color: darkgreen;opacity: 0%;}
    25%{left: 100%; top: 165px;color: forestgreen;opacity: 0%;}
    50%{left: 100%; top: 165px; color: darkolivegreen;opacity: 0%;}
    75%{ left: 100%; top: 165px;color: greenyellow;opacity: 75%;}
    100%{left: 12%; top: 165px; color: #fff;opacity: 100%;}
}   

